<ion-view style="" id="page3" title="Confirmar">
    <ion-nav-bar class="bar-positive" </ion-nav-bar>
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <h2 style="color: rgb(0, 0, 0);" id="confirmar-heading1">Confirmação da Loja</h2>
        <h4 style="color: rgb(0, 0, 0);" id="confirmar-heading3">Status:</h4>
            <div style="text-align: center;">
                <img src="img/1DOAtKXGQyyJlF370RuW_confirm.jpg" height="auto" width="30%">
            </div>
    </ion-content>
</ion-view>