<ion-view style="" id="page6" title="Forma de Pagamento">
    <ion-nav-bar class="bar-positive" </ion-nav-bar>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-checkbox style="">Visa</ion-checkbox>
            <ion-checkbox style="">Mastercard</ion-checkbox>
            <ion-checkbox style="">Sodexo</ion-checkbox>
            <ion-checkbox style="">Elo</ion-checkbox>
        </form>
        <div style="height: 100px;" class="spacer"></div>
        <a class="button button-positive  button-block icon-left ion-android-checkbox-outline" style="font-weight:;" id="formaDePagamento-button7" ui-sref="tabsController.confirmar">Confirmar</a>
    </ion-content>
</ion-view>