<ion-view style="" id="page4" title="Localidade">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list"></form>
        <form style="" class="list">
            <label style="" name="cep" class="item item-input">
                <span class="input-label">CEP</span><textarea placeholder="cep"> </textarea>
            </label>
            <label style="" name="cidade" class="item item-input">
                <span class="input-label">Cidade</span><textarea placeholder="cidade"> </textarea>
            </label>
            <label style="" name="bairro" class="item item-input">
                <span class="input-label">Bairro</span><textarea placeholder="bairro"> </textarea>
            </label>
            <label style="" name="rua" class="item item-input">
                <span class="input-label">Rua</span><textarea placeholder="rua"> </textarea>
            </label>
            <label style="" name="num_apart" class="item item-input">
                <input placeholder="Numero/Apartamento" type="text">
            </label>
            <label style="" name="pont_ref" class="item item-input">
                <input placeholder="Ponto de Referencia" type="text">
            </label>
        </form>
        <a class="button button-positive  button-block icon-left ion-android-arrow-forward" style="font-weight:;" id="localidade-button4" ui-sref="tabsController.menu">Continue</a>
    </ion-content>
</ion-view>